body{
    background-color: black;
    text-align: center;
}
#title{
    color: white;
    text-align: center;
    width: 100%;
}
#classic_video{
    width: 100%;
    max-width: 960px;
}
#movie_quotes{
    text-align: center;
    width: 100%;
    margin-top:30px;
    color:white;
}